In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

https://www.machinelearningplus.com/python/101-pandas-exercises-python/

Important questions<br>
1. 28 
2. 31 (resample)
3. Autocorrelations
4. 38 (get the value, index of the maximum value of different columns)

In [2]:
# Checking pandas version
pd.__version__

'1.5.2'

In [3]:
# Create pandas series from list, dictionary and array
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

mylist_ds = pd.Series(mylist)
myarr_ds = pd.Series(myarr)
mydict_ds = pd.Series(mydict)

In [4]:
# Convert the index of mydict_ds into a column
mydict_ds.reset_index(name='val')

   index  val
0      a    0
1      b    1
2      c    2
3      e    3
4      d    4
5      f    5
6      g    6
7      h    7
8      i    8
9      j    9
10     k   10
11     l   11
12     m   12
13     n   13
14     o   14
15     p   15
16     q   16
17     r   17
18     s   18
19     t   19
20     u   20
21     v   21
22     w   22
23     x   23
24     y   24
25     z   25

In [5]:
# Combine ser1 and ser2 to form a dataframe
pd.DataFrame(np.stack([mylist_ds, myarr_ds], axis= 1))  # With numpy
pd.concat([mylist_ds, myarr_ds], axis= 1)  # Without numpy

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

In [6]:
# Assign name to the series index
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name='alphabets')
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

In [7]:
# Get item of series a not in b
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[ser1.isin(ser2).__invert__()]

0    1
1    2
2    3
dtype: int64

In [8]:
# Find all items not common to both
c1 = ser1.isin(ser2).__invert__()
c2 = ser2.isin(ser1).__invert__()
pd.concat([ser1[c1], ser2[c2]])

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

In [9]:
# Find mean, median, 25th, 75th percentile of the following series
ser = pd.Series(np.random.normal(10, 5, 25))
# mean
print(ser.mean())
# median
print(ser.median())
# 25th percentile
print(ser.describe()['25%'])
# 75th. percentile
print(ser.describe()['75%'])

8.790392703191488
7.5696924512627906
4.76651575985686
13.040732105204572

In [10]:
# Frequency count of unique value
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

g    10
h     7
d     3
b     3
a     3
e     2
c     1
f     1
dtype: int64

In [11]:
# 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
top2 = ser.value_counts().iloc[:2].index
[i if i in top2 else 'others' for i in ser]

[2, 2, 3, 'others', 'others', 'others', 'others', 3, 3, 3, 2, 2]

In [12]:
# 11. Bin the series into 10 bins
ser = pd.Series(np.random.random(20))
pd.qcut(ser, q=[0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.], labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '100th'])

0       2nd
1       4th
2     100th
3       6th
4       7th
5       1st
6       3rd
7       5th
8       5th
9       8th
10      8th
11      3rd
12      1st
13      2nd
14      9th
15    100th
16      6th
17      9th
18      7th
19      4th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '100th']

In [13]:
ser = pd.Series(np.random.randint(1, 10, 35))
pd.DataFrame(ser.values.reshape(7, 5))

   0  1  2  3  4
0  5  6  1  8  9
1  2  3  9  6  5
2  1  8  4  4  5
3  6  3  1  8  3
4  4  3  5  6  1
5  3  4  6  4  8
6  8  9  9  5  9

In [14]:
# Find the index of numbers that are multile of 3
# Use of argwhere
ser = pd.Series(np.random.randint(1, 10, 7))
np.argwhere(ser.values % 3==0)

array([[0],
       [2],
       [3],
       [4],
       [5]], dtype=int64)

In [15]:
# Extract item from given position
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [16]:
# Stack two series vertically and horizontally
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
pd.concat([ser1, ser2], axis=0, ignore_index=True) # Vertical stack
pd.concat([ser1, ser2], axis=1, ignore_index=True) # Horizontal stack

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [17]:
# Get position of items of ser2 in ser1
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[np.argwhere(ser1.values==x)[0][0] for x in ser2]

[5, 4, 0, 8]

In [18]:
# Compute mean squared error on a truth and predicted series
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

((truth - pred)**2).mean()

0.2726789656856625

In [19]:
# First character -> upper case
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.apply(lambda x: x[0].capitalize()+x[1:])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [20]:
# Calculate number of character of each word in a series
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.apply(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

In [21]:
# Calculate the diff of diff of a series 
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
ser.diff().diff()

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

In [22]:
# 21.Convert a series of datestring into timestring
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [23]:
# 22. Get the day of month, week number, day of year and day of week from ser.
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser1 = pd.to_datetime(ser)
# ser1[0].day_of_week, ser1[0].day_of_year etc.

In [24]:
# Change ser to dates that start with 4th of the respective months.
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
pd.to_datetime(ser.apply(lambda x: '4 '+x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [25]:
# From ser, extract words that contain atleast 2 vowels.
v = ['a', 'e', 'i', 'o', 'u']
def n_vowels(s):
    total_vs = sum([1 if x in v else 0 for x in s.lower()])
    if total_vs >= 2:
        return True
    else:
        return False

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
ser[ser.apply(lambda x: n_vowels(x))]

0     Apple
1    Orange
4     Money
dtype: object

In [26]:
# Compute the mean of weights of each fruit.
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
weights.groupby(fruit).mean()

apple     5.8
banana    5.0
carrot    5.5
dtype: float64

In [27]:
# Eucliean distance between two series
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
np.sqrt(sum((p.values - q.values)**2))

18.16590212458495

In [28]:
# 28.Find the local maxima of a series
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
diff1 = np.diff(ser)  # arr[i] - arr[i-1] -> [ 8 -7  1  5  1 -8  5 -4]
diff1_sign = np.sign(diff1)  # [ 1 -1  1  1  1 -1  1 -1]
diff2 = np.diff(diff1_sign)  # [-2,  2,  0,  0, -2,  2, -2]
np.where(diff2 == -2)[0] + 1

array([1, 5, 7], dtype=int64)

In [29]:
# Replace with least appearing character
my_str = 'dbc deb abed gade'
ser = pd.Series(list(my_str))
my_str.replace(' ', ser.value_counts().keys()[-1])

'dbcgdebgabedggade'

In [30]:
#30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?
date = pd.date_range('2000-01-01', periods=7, freq='W-SAT')
vals = np.random.randint(1, 10, 7)
pd.Series(vals, index=date)

2000-01-01    4
2000-01-08    9
2000-01-15    4
2000-01-22    9
2000-01-29    4
2000-02-05    5
2000-02-12    9
Freq: W-SAT, dtype: int32

In [31]:
# 31. as missing dates and values. Make all missing dates appear and fill up with value from previous date.
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
ser.resample('D').ffill()

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

In [32]:
# 32. Find the auto correlations with lags
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))
ser.corr(pd.Series([1, 2]))

1.0

In [33]:
# Import every 50th. row from a csv file
PATH = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
df = pd.read_csv(PATH)
df2 = pd.DataFrame(columns=df.columns)
for i in range(49, len(df), 50):
    df2 = pd.concat([df2, df.iloc[i].to_frame().T], axis=0, ignore_index=True)

# transform series to dataframe and then transpose

In [34]:
# Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.
df = pd.read_csv(PATH)
df['medv'] = df['medv'].apply(lambda x: 'Low' if x<=25 else 'High')

In [35]:
# Import only specified column from a csv
df = pd.read_csv(PATH, usecols=['crim', 'medv'])
df

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

In [36]:
df.info

<bound method DataFrame.info of         crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]>

In [37]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [38]:
df.loc[df['Price'] == max(df['Price']), ['Manufacturer', 'Model']]

     Manufacturer Model
58  Mercedes-Benz  300E

In [39]:
rename_key = {key: key.split('.')[0]+'_'+key.split('.')[1] for key in df.columns if '.' in key}

In [40]:
# Reaname a specific column in a dataframe
# Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.
df.rename({'Type':'CarType'}, axis=1)
df.rename(rename_key, axis=1)

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn_circle,Rear_seat,Luggage_room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

In [41]:
# 40. How to check if a dataframe has any missing values?
df.isna().sum()

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

In [42]:
# max nan values
df.isna().sum().max()

19

In [43]:
# Replace nan with mean values
df.fillna(value=df.mean(axis=0))

C:\Users\darsh\AppData\Local\Temp\ipykernel_12052\2961147933.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(value=df.mean(axis=0))

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.900000,15.9,18.800000,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.000000,37.0,26.5,13.986486,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.200000,33.9,38.700000,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.000000,38.0,30.0,15.000000,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.900000,29.1,32.300000,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.000000,37.0,28.0,14.000000,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,17.118605,37.7,44.600000,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,69.448276,37.0,31.0,17.000000,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,17.118605,30.0,21.459091,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.000000,39.0,27.0,13.000000,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.600000,19.7,22.700000,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.000000,38.0,34.0,13.986486,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.600000,20.0,22.400000,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.000000,35.0,31.5,14.000000,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.900000,23.3,23.700000,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.000000,36.0,26.0,15.000000,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.800000,22.7,23.500000,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.000000,37.0,29.5,14.000000,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.800000,26.7,28.500000,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.000000,38.0,30.0,15.000000,3245.0,non-USA,Volvo 850

In [44]:
df['Min.Price', 'Max.Price'].apply(lambda x:[])
df['Min.Price'].fillna(value=df['Min.Price'].mean())

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')