In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

https://www.machinelearningplus.com/python/101-pandas-exercises-python/

In [4]:
# Checking pandas version
pd.__version__

'1.5.2'

In [7]:
# Create pandas series from list, dictionary and array
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

mylist_ds = pd.Series(mylist)
myarr_ds = pd.Series(myarr)
mydict_ds = pd.Series(mydict)

In [13]:
# Convert the index of mydict_ds into a column
mydict_ds.reset_index(name='val')

   index  val
0      a    0
1      b    1
2      c    2
3      e    3
4      d    4
5      f    5
6      g    6
7      h    7
8      i    8
9      j    9
10     k   10
11     l   11
12     m   12
13     n   13
14     o   14
15     p   15
16     q   16
17     r   17
18     s   18
19     t   19
20     u   20
21     v   21
22     w   22
23     x   23
24     y   24
25     z   25

In [20]:
# Combine ser1 and ser2 to form a dataframe
pd.DataFrame(np.stack([mylist_ds, myarr_ds], axis= 1))  # With numpy
pd.concat([mylist_ds, myarr_ds], axis= 1)  # Without numpy

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

In [23]:
# Assign name to the series index
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name='alphabets')
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

In [46]:
# Get item of series a not in b
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[ser1.isin(ser2).__invert__()]

0    1
1    2
2    3
dtype: int64

In [55]:
# Find all items not common to both
c1 = ser1.isin(ser2).__invert__()
c2 = ser2.isin(ser1).__invert__()
pd.concat([ser1[c1], ser2[c2]])

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

In [61]:
# Find mean, median, 25th, 75th percentile of the following series
ser = pd.Series(np.random.normal(10, 5, 25))
# mean
print(ser.mean())
# median
print(ser.median())
# 25th percentile
print(ser.describe()['25%'])
# 75th. percentile
print(ser.describe()['75%'])

9.174125998830927
8.767954323219564
6.920113300082022
12.205428885785171

In [64]:
# Frequency count of unique value
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

e    6
a    5
c    4
b    4
d    4
f    3
h    2
g    2
dtype: int64

In [77]:
# 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
top2 = ser.value_counts().iloc[:2].index
[i if i in top2 else 'others' for i in ser]

[2, 2, 2, 2, 2, 2, 1, 2, 'others', 2, 2, 2]